* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    font-size: 62.5%;
}

body
{
    font-family: 'Mulish', sans-serif;
    
    max-width: 43rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

#app
{
    max-width: 43rem;
    background-color: #F9F4FB;
}

h1
{
    color: #B52184;
    text-align: center;
    font-family: Mulish, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

h2
{
    color: #312D64;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p
{
    color: #312D64;
    font-size: 16.042px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

.astro {
    width: 364px;
    height: 370px;
    margin-bottom: 1.7rem;
}

header h1
{
    margin-bottom: .5rem;
}

header h2
{
    margin-bottom: 3.5rem;
}

.down-btn {
    background: none;
    border: none;
    margin-bottom: 14.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
}

.container1,
.container2,
.container3 {
    margin: 5rem 3.9rem 0;
    padding: 2.5rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    border-radius: 19.865px;
    background: #FFF;
    box-shadow: 0px 3.31077px 13.24308px 0px rgba(0, 0, 0, 0.25);   
}

.container1 img,
.container2 img,
.container3 img 
{
    max-width: 100%;
    margin-bottom: 2rem;   
}
.container1 h1,
.container2 h1,
.container3 h1 
{
    margin-bottom: .5rem;   
}

.container3
{
    margin-bottom: 5rem;
}

.contact
{
    background: #F9F4FB;
    margin-top: 7.8rem;
}

form
{
    margin: 0 3.9rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

form legend
{
    text-align:left;
}

input
{
    border-radius: 16px;
    border: 1.5px solid #312D64;
    padding: 12px 16px 12px 14px;
}


footer 
{
    padding: 1.6rem;
    text-align: center;
    margin-top: 2rem;
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
}

footer p
{
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


